body {
    margin: 0;
    padding: 0;
    font-family: "PTSans", Arial, sans-serif;
  }
@font-face {
    font-family: "PTSans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
    font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: "PTSans";
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
    font-style: normal;
	font-weight: bold;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.site-wrapper {
    margin: 0 auto;
    font-family: "PTSans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}
.background-wrapper {
    background-color: #81b3d2;
    background-image: url("../img/background\ photo.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}
.main-container {
    max-width: 1200px;
    margin: 0 auto;
}
.main-nav {
    background-color: #ffffff;
}
.main-nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    margin-top: -78px;
    margin-bottom: 60px;
    padding: 0;
}
.main-nav-item,
.reasons-item,
.reasons-features-item,
.footer-social-item {
    list-style: none;
}
.main-nav-item {
    width: 20%;
    padding: 15px 0;
}
.main-nav-link {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}
.main-nav-link:hover {
    color: #81b3d2;
}
.main-nav-link:focus {
    color: #cacaca;
}
.main-nav-link:active {
    color: #766357;
}
/* MAIN start */
.main-view-wrapper {
    position: relative;
    background-color: #ffffff;
}
.main-view-wrapper::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -57px;
    left: 0;
    right: 0;
    width: 100%;
    height: 59px;
    background-image: url("../img/polygon.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
}
.main-view-img {
    margin-bottom: 70px;
    padding-top: 16px;
}
.main-view-info {
    margin: 0;
    padding: 0;
    padding: 60px 286px 27px 286px;
    font-size: 21px;
    font-weight: bold;
}
.main-view-rubric {
    margin: 0;
    padding: 0;
    padding-bottom: 51px;
    color: #333333;
}
.reasons-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #eeeeee;
}
.reasons-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    flex-grow: 1;
    background-color: #eeeeee;
}
.reasons-item-grey {
    padding: 44px 18px 60px 18px;
}
.reasons-item-title-grey {
    padding: 0 100px 17px 100px;
}
.reasons-item-number-grey {
    padding-bottom: 21px;
}
.reasons-item-info-grey {
    padding: 0 52px;
}
.reasons-item-blue {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #81b3d2;
}
.reasons-list .reasons-item:first-child .reasons-item-title {
    padding: 43px 930px 18px 130px;
}
.reasons-list .reasons-item:first-child .reasons-item-number {
    padding: 0 800px 22px 0;
}
.reasons-list .reasons-item:first-child .reasons-item-info {
    padding: 0 850px 58px 50px;
}
.reasons-list .reasons-item:nth-child(2) .reasons-item-title {
    padding: 43px 120px 17px 920px;
}
.reasons-list .reasons-item:nth-child(2) .reasons-item-number {
    padding: 0 0 22px 800px;
}
.reasons-list .reasons-item:nth-child(2) .reasons-item-info {
    padding: 0 45px 59px 845px;
}
.reasons-item-blue:first-child {
    position: relative;
}
.reasons-item-blue:first-child::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 800px;
    height: 401px;
    background-image: url("../img/real-town.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.reasons-item-blue:nth-child(2) {
    position: relative;
}
.reasons-item-blue:nth-child(2)::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 800px;
    height: 400px;
    background-image: url("../img/bridge.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.reasons-features-list {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}
.reasons-features-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 25%;
    padding: 158px 48px 75px 48px;
}
.reasons-features-item:first-child::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 59px;
    left: 162px;
    width: 75px;
    height: 72px;
    background-image: url("../img/house.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.reasons-features-item:nth-child(2)::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 62px;
    left: 162px;
    width: 74px;
    height: 70px;
    background-image: url("../img/burger.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.reasons-features-item:nth-child(3)::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 57px;
    left: 167px;
    width: 64px;
    height: 76px;
    background-image: url("../img/present.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.reasons-features-title {
    padding-bottom: 19px;
}
.reasons-list,
.reasons-features-list {
    margin: 0;
    padding: 0;
}
.reasons-item-title,
.reasons-features-title {
    font-size: 21px;
    font-weight: bold;
}
.reasons-item-number{
    line-height: 21px;
}
.reasons-item-info {
    line-height: 21px;
    color: #333333;
}
.reasons-item-title-blue,
.reasons-item-number-blue,
.reasons-item-info-blue {
    color: #ffffff;
}

.main-search {
    position: relative;
    background-color: #ffffff;
}
.main-search-title {
    margin: 0;
    padding: 50px 0 23px 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}
.main-search-info {
    margin: 0;
    padding: 0;
    padding-bottom: 46px;
    line-height: 24px;
    color: #333333;
}
.modal-search {
    position: absolute;
    z-index: 3;
    right: 0;
    left: 0;
    width: 568px;
    background-color: #ffffff;
}
.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 56px 55px 55px 55px;
}
.search-item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 458px;
    margin-bottom: 32px;
}
.search-item:nth-child(3){
    flex-basis: 50%;
}
.search-item:nth-child(4) {
    flex-basis: 39%;
}
.search-item:nth-child(3) .search-item-field {
    width: 51%;
    padding: 0;
    text-align: center;
}
.search-item:nth-child(4) .search-item-field {
    width: 65%;
    padding: 0;
    text-align: center;
}
.button-sedona {
    width: 568px;
    padding: 30px 135px 29px 135px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    background-color: #766357;
    text-transform: uppercase;
}
.button-sedona:hover {
    background-color: #604e43;
}
.button-sedona:focus {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}
.search-item-title {
    font-weight: bold;
    padding: 5px 0;
}
.search-item-field {
    width: 73%;
    padding: 0 0 0 12px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    background-color: #f2f2f2;
    text-transform: uppercase;
    border: none;
}
.search-item-field:hover {
    background-color: #ebebeb;
}
.search-item-field:focus {
    background-color: #ffffff;
    outline: none;
    box-shadow: inset 0 0 0 2px #e5e5e5;
}
.search-item-calendar {
    position: relative;
}
.search-item-calendar::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 9px;
    width: 21px;
    height: 22px;
    background-image: url("../img/calendar.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.search-item-calendar:hover::after {
    background-image: url("../img/calendar-black.png");
}
.search-item-calendar:focus::after {
    background-image: url("../img/calendar-blue.png");
}
.search-item-adult {
    position: relative;
}
.search-item-adult::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 17px;
    left: 125px;
    width: 12px;
    height: 3px;
    background-image: url("../img/minus.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.search-item-adult::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 13px;
    right: 17px;
    width: 11px;
    height: 11px;
    background-image: url("../img/plus.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.search-item-kids {
    position: relative;
}
.search-item-kids::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 17px;
    left: 79px;
    width: 12px;
    height: 3px;
    background-image: url("../img/minus.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.search-item-kids::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 13px;
    right: 13px;
    width: 11px;
    height: 11px;
    background-image: url("../img/plus.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.search-item-adult:hover::before,
.search-item-kids:hover::before {
    background-image: url("../img/minus-black.png");
}
.search-item-adult:focus::before,
.search-item-kids:focus::before {
    background-image: url("../img/minus-blue.png");
}
.search-item-adult:hover::after,
.search-item-kids:hover::after {
    background-image: url("../img/plus-black.png");
}
.search-item-adult:focus::after,
.search-item-kids:focus::after {
    background-image: url("../img/plus-blue.png");
}
.button-search {
    width: 458px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 196px;
    margin-top: 23px;
    background-color: #81b3d2;
}
.button-search:hover {
    background-color: #669ec0;
}
.button-search:focus {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}
.main-map {
    max-width: 100%;
    height: 591px;
    background: url("../img/map.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
/* MAIN end */

/* FOOTER start */
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -119px;
    padding: 36px 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.main-footer-info {
    width: 400px;
}
.footer-hash {
    margin: 0;
    padding: 0;
}
.footer-hash-link {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}
.footer-hash-link:hover {
    color: #81b3d2;
}
.footer-hash-link:focus {
    color: #e1e1e1;
}
.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    margin: 0;
    padding: 0;
}
.footer-social-item {
    margin-right: 5px;
}
.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}
.footer-social-link:hover {
    background-color: #669ec0;
}
.footer-social-link:focus {
    background-color: #5496bd;
}
.footer-social-link:focus .footer-social-link-img {
    opacity: 0.3;
}
.main-footer-copyright {
    width: calc(100% - 800px);
}
.footer-copyright-info {
    margin: 0;
    padding: 0;
}
.copyright-logo {
    position: relative;
    display: inline-block;
    padding-right: 117px;
    vertical-align: middle;
}
.copyright-logo::after {
    content: "";
    position: absolute;
    top: -22px;
    left: 5px;
    width: 115px;
    height: 41px;
    background-image: url("../img/logo_html_ac.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.copyright-logo:hover::after {
    background-image: url("../img/logo-html-ac-blue.png");
}
.copyright-logo-img:focus::after {
    background-image: url("../img/logo-html-ac-grey.png");
}
/* FOOTER end */
